{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'quiz_game/style.css' %}">
    <link rel="stylesheet" href="{% static 'quiz_game/game.css' %}">
</head>
<body>
    <div class="container">

        <div id="game" class="justify-center flex-column">
            <div id="hud">
                <div class="hud-item">
                    <p id="progressText" class="hud-prefix">
                        Question                    
                    </p>
                    <div id="progressBar">
                        <div id="progressBarFull"></div>

                    </div>
                </div>
                <div class="hud-item">
                    <p class="hud-prefix">
                        Score
                    </p>
                    <h1 class="hud-main-text" id="score">
                        0
                    </h1>
                </div>
            </div>
            <h1 id="question">What is the question to this ans?</h1>
            <div class="choice-container">
                <p class="choice-prefix">A</p>
                <p class="choice-text" data-number="1">Choice</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">B</p>
                <p class="choice-text" data-number="2">Choice 2</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">C</p>
                <p class="choice-text" data-number="3">Choice 3</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">D</p>
                <p class="choice-text" data-number="4">Choice 4</p>
            </div>
            <div class="correct-answer-display-container">
                <h4 class="correct-answer-display"></h4>
                <h2 id="video-item" class="correct-answer-display-video d-none"> <br><b>Look at the video for solution:</b> <a href="{% url 'vending_store_video' %}">Here</a></h2>
            </div>
        </div>
    </div>
    <div id="end-btn" class="container d-none">
        <a href="{% url 'quiz_end' %}"><button id="endBtnItem" class="btn btn-primary d-none">Finish</button></a>
    </div>
    <script src="{% static 'quiz_game/script.js' %}"></script>
</body>
</html>