{% extends "learning/snippets/base.html" %}
{% load static %}

{% block maincontent %}
<div class="container-video">
  <h1 class="video-title">Department store video 🎬</h1>
  <div class="video-description">
    <p>Everything from ‘a pin to an elephant’ is the spirit behind a typical department store. A Departmental Store satisfies diverse market segments with a wide variety of goods and services under one roof.
      <br>
      This segment will help you in exploring more about Departmental Stores. 
    </p>
  </div>
  <br>
  <video width="90%" height="70%" controls autoplay>
    <source src="{% static 'videos/depart.mp4' %}" type="video/mp4">
    <!-- <source src="movie.ogg" type="video/ogg"> -->
  Your browser does not support the video tag.
  </video>
</div>  
{% endblock maincontent %}