{% extends "learning/snippets/base.html" %}
{% load static %}

{% block maincontent %}
<div class="container-video">
  <h1 class="video-title">>Department store video 🎬</h1>
  <br>
  <p>Sometimes during special occasions like a festival or a marriage we prefer going to a market that may be located at a distance from our residence. Now the question that arises is, how do all these products reach the market? 
    <br>
    There are a number of firms/people located in same locality, village, town or city; or may be in different states, but definitely within the same country, who are involved in the activity of bringing the product from the place of production to the market and then making it available to the ultimate consumers. This is referred to as internal trade.
    <br>
    To clarify the concept of internal trade let us watch this video
  </p>
  <br>
  <video width="90%" height="70%" controls autoplay>
    <source src="{% static 'videos/depart.mp4' %}" type="video/mp4">
    <!-- <source src="movie.ogg" type="video/ogg"> -->
  Your browser does not support the video tag.
  </video>
</div>  
{% endblock maincontent %}