{% extends "learning/snippets/base.html" %}
{% load static %}

{% block maincontent %}
<div class="container-video">
  <h1 class="video-title">Retail Trade Video</h1>
  <div class="video-description">
    <p>Retailing is that branch of business which is devoted to the sale of goods and services to the ultimate consumers for their personal and non-business use. The retailer normally buys goods in large quantities from the wholesalers and sells them in small quantities to the ultimate consumers.
      <br>
      This video will help you in understanding how Retailers help in transferring the goods from the hands of the manufacturers or wholesalers to the final consumers or users. 
    </p>
  </div>
  <video width="90%" height="70%" controls autoplay>
    <source src="{% static 'videos/types.mp4' %}" type="video/mp4">
    <!-- <source src="movie.ogg" type="video/ogg"> -->
  Your browser does not support the video tag.
  </video>
</div>  
{% endblock maincontent %}