{% extends "learning/snippets/base.html" %}
{% load static %}

{% block maincontent %}
<div class="container-video">
  <h1 class="video-title">Chain Store Trade</h1>
  <div class="video-description">
    <p>Chain Stores like Bata India Ltd, which is the largest footwear retailer in India is engaged in the business of manufacturing and trading of footwear and accessories through their own retail and wholesale network. 
      <br>
      So let’s watch the video in order to know more about these stores
    </p>
  </div>
  <video width="90%" height="70%" controls autoplay>
    <source src="{% static 'videos/vending.mp4' %}" type="video/mp4">
    <!-- <source src="movie.ogg" type="video/ogg"> -->
  Your browser does not support the video tag.
  </video>
</div>  
{% endblock maincontent %}