{% extends "learning/snippets/base.html" %}
{% load static %}

{% block maincontent %}
<div class="container-video">
  <h1 class="video-title">Wholesale Trade video</h1>
  <div class="video-description">
    <p>Wholesaling is concerned with the activities of those persons or establishments who buys goods from manufacturers/producers and sell these to retailers and other merchants, and/ or to industrial, institutional and commercial users but who do not sell in significant amount to ultimate consumers.
      <br>
      This video will help you in understanding how Wholesalers serve as an important link between manufacturers and retailers.
    </p>
  </div>
  <br>
  <video width="90%" height="70%" controls autoplay>
    <source src="{% static 'videos/wholesale.mp4' %}" type="video/mp4">
    <!-- <source src="movie.ogg" type="video/ogg"> -->
  Your browser does not support the video tag.
  </video>
</div>  
{% endblock maincontent %}