{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300;400;600;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'quiz_game/style.css' %}">
    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Quiz</title>
</head>
<body>    
    <div class="container flex">
        <div id="home" class="flex-column flex-center">
            
            <h1 style="background: linear-gradient(270deg , #BAFFB4 , #7CD1B8 ) ; padding: 1rem; border-radius: 10px; width: 66rem; text-align: center;">Quiz on Chain Store</h1>
            
            <a href="{% url 'quiz_for_game' %}" class="btn" id="play">Play</a>


        </div>
    </div>

    <script src="{% static 'quiz_for_game/audio.js' %}"></script>
</body>
</html>
