header {
    position: relative;
    z-index: 70;

}

@media screen and (max-width: 1360px) {
    .person-details h3{
        font-size: 1.4rem;
    }
    .person-details p{
        font-size: 1rem;
    }

    .feature {
        width: 80%;
    }

    .right .person {
        width: 75%;
        align-self: flex-start;
        margin: 2rem 0;
    }

}


@media screen and (max-width: 950px) {
    .showcase-area .container {
        grid-template-columns: 1fr;
    }

    .left, 
    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .right .person {
        width: 75%;
        align-self: flex-start;
        margin: 2rem 0;
    }

    .hamburger-menu {
        display: block;
        align-self: flex-end;
        padding: 0 1rem;
    }
    
    .links ul {
        display: none;
    }

    .active .links {
        position: absolute;
        top:0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #00bcd4;

        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;

        padding: 0.5rem 2rem;

        transform: rotate(360deg);
        transition: 0.7s linear;
    }

    .active .links ul {
        display: block;
    }

    .active .links ul li {
        font-size: 2rem;
        color: #fff;
    }

    .team-wrapper {
        flex-direction: column;
    }

    .team-item {
        width: 80%;
        margin: 2rem auto;
    }

    .feature {
        width: 80%;
        margin: 2.5rem auto;

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feature:nth-child(even) {
        flex-direction: column;
    }

    .feature-desc {
        margin: 1rem 0;
    }

    .feature-desc p {
        font-size: 1.4rem;
    }

    .feature-desc h3 {
        font-size: 1.4rem;
    }

    .team-h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {

    .feature {
        width: 90%;
    }

    .feature-desc {
        margin: 0.2rem 0;
    }
    .feature-desc p {
        font-size: 1rem;
    }

    .feature-desc h3 {
        font-size: 1rem;
    }

    .main-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .text {
        font-size: 1.4rem;
    }

}
