{% extends "resources/snippets/base.html" %}
{% load static %}


{% block maincontent %}
<div class="card-container-wrapper">
<div class="container-card">
    <div class="card" style="background-color: transparent;">
      <div class="box">
        <div class="content">
          <h2>01</h2>
          <h3>Mind Map</h3>
          <p>A table that elucidates upon each and every topic from the chapter Internal Trade.</p>
          <a href="/static/assets/mindMaps.pdf">View</a>
        </div>
      </div>
    </div>
  
    <div class="card" style="background-color: transparent;">
      <div class="box">
        <div class="content">
          <h2>02</h2>
          <h3>Notes</h3>
          <p>Learn from notes curated by the specialists. Be it visual or written, you are covered. </p>
          <a href="/static/assets/InternalNotes.pdf">Read More</a>
        </div>
      </div>
    </div>
<!--   
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>03</h2>
          <h3>Card Three</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div> -->
  </div>
</div>
{% endblock maincontent %}