body{
    background-image: url('Plus.png');
background-size: cover;
background-position: center center;
min-height: 80vh;
background-repeat: no-repeat;
font-family: 'Nunito', sans-serif;
padding: 0;
}



nav{
    background-color: #6930C3;
    
    
}

.navbar-brand{
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 2rem;
}

.nav-link{
    font-family:'Nunito', sans-serif;
    color: white;
    margin-top: 35px;
    font-size: 1rem;

    margin-right: 50px;
}
.grad{
    position: relative;
    left: 24%;
    max-width: 100%;
}

@media only screen and (max-width: 1024px) {
    .grad {
    left: 5px;
      width: 300%;
    }
  }

/* .dashboard-item {
    width: 80%;
    margin-left: 10%;
} */


/* card */

img {
    width: 100%;
    height: 100%
}

.bg-black {
    background: #000
}

.skill-block {
    width: 30%
}

@media (min-width: 991px) and (max-width:1200px) {
    .skill-block {
        padding: 32px !important
    }
}

@media (min-width: 1200px) {
    .skill-block {
        padding: 56px !important
    }
}

