{% extends "landing/snippets/base.html" %}
{% load static %}

{% block maincontent %}

     <!-- ======= Hero Section ======= -->
     <section id="hero" class="d-flex align-items-center">

        <div class="container-fluid" >
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-in" data-aos-delay="650">
              <h1 style="font-size: 2.2rem;">
                {% if user.is_authenticated %}Welcome back {{ user.username }}! {% else %}Welcome to Lesson Internal Trade{% endif %}
              </h1>
              <h2 style="font-weight: 800; font-size: 1rem;" id="quote">{% if user.is_authenticated %}Quote{% else %}A platform to educate the upcoming youth about the aspects of Trading.{% endif %}</h2>
              <p style="font-weight: 400; font-size: 1rem; color: #f3f3f3; margin-top: 1rem;" id="author">{% if user.is_authenticated %}Author{% endif %}</p>
              
              {% if user.is_authenticated %}
              <div><a href="{% url 'quiz_game' %}" class="btn-get-started scrollto" >Play a Game</a></div>
              <div style="margin-bottom: 10%;"><a href="{% url 'department_store_video' %}" class="btn-get-started scrollto">Learn a Lesson</a></div>
              {% else %}
              <div style="margin-bottom: 10%;"><a href="{% url 'account_signup' %}" class="btn-get-started scrollto">Start</a></div>
              {% endif %}

            </div>
            <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-in" data-aos-delay="650">
              <img src="{% static 'assets/main.png' %}" class="img-fluid animated" alt="">
            </div>
          </div>
        </div>
    
      </section>
      <!-- End Hero -->
    
          <!-- Quote script -->
    <script src="{% static 'landing/index.js' %}"></script>  

{% endblock maincontent %}