{% extends "landing/snippets/base.html" %}
{% load static %}

{% block title %}
Home  
{% endblock title %}

{% block maincontent %}
<div class="container-main">
  <div class="left">
      <div class="main-title">
          <h1>Welcome to Project Insight</h1>
      </div>
      <p class="text">
          Insight elucidates upon the very core concepts of Internal and External 
          Trade by providing a full-scale solution of beyond text-book learning
      </p>
      <div class="cta">
          <a href="{% url 'account_signup' %}" class="btn">Get Started</a>
      </div>
  </div>
  <div class="right">
      <!-- <img src="imgs/person.svg" class="person" alt="Reload"> -->
  </div>
</div>
{% endblock maincontent %}

{% block mainpage %}
<div class="team-h1"><h1>Our School</h1></div>
<div class="school-wrapper">
<div class="school-title"><h3>K.R Mangalam World School</h3>
<p>The concept of ‘Our World’, forms the basis of K.R. Mangalam. Learning, irrespective of the source, is learning that K.R. Mangalam derives from the world over, to educate and inspire children towards achievement. Every country, every place, every religion, every action and every reaction teaches us something. K.R. Mangalam is a continuous process of amalgamation- amalgamation of strengths of the newer things that happen in our own world, of things that have happened in the past and of things that can happen in the future. Civilizations, religions, cultures, habits, people, places and events that have changed the course of mankind are the core subjects of knowledge.
    <br>
    <br>
    In a systematic endeavour, the course curriculum at K.R. Mangalam is designed to ignite global thinking right from early stages. Eminent people with wide international exposure are inducted to guide and train the students. Books, CD’s and other resources bear a broad universal perspective and encompass a wide spectrum of activities. Special knowledge centers are created on various themes for the benefit of students interested in different areas.
    <br>
    <br>
    Visit Our School Website:
    <button class="btn"><a href="https://krmangalam.com/gk2/">Click Here</a></button>
</p>
    <br>
    
</div>
<div class="school-logo"><img src="{% static 'index/logo.png' %}" alt=""></div>
</div>

<div class="team-h1"><h1>Meet our Team</h1></div>

<div class="team-wrapper light">
    

    <div class="team-item">
        <div class="person-image" ><img  src="{% static 'landing/imgs/profile_1.jpg' %}" alt="Reload"></div>
       
        <div class="person-details">
            <div><h3>Girik Manchanda</h3></div>
            <div class="desig">Full-stack Engineer</div>
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores ipsam ea neque a harum, dolore quae in eius aspernatur deserunt 
                    incidunt facilis illum quo accusantium. Magnam quisquam tempora ex.</p>
            </div>
            <div>
            <div>
                <div class="wrapper">
                    <div class="icon twitter">
                      <div class="tooltip">Twitter</div>
                      <span><i class="fab fa-twitter"></i></span>
                    </div>
                    <div class="icon instagram">
                      <div class="tooltip">Instagram</div>
                      <span><i class="fab fa-instagram"></i></span>
                    </div>
                    <div class="icon github">
                      <div class="tooltip">Github</div>
                      <span><i class="fab fa-github"></i></span>
                    </div>
                  </div>
            </div>
            </div>
            <div><button class="btn">Visit Portfolio</button></div>
        </div>
    </div>

    <div class="team-item">
        <div class="person-image"><img src="{% static 'landing/imgs/profile_2.jpeg' %}" alt="Reload"></div>
       
        <div class="person-details">
            <div><h3>Ishaan Kalra</h3></div>
            <div class="desig">Front-end Engineer</div>
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores ipsam ea neque a harum, dolore quae in eius aspernatur deserunt 
                    incidunt facilis illum quo accusantium. Magnam quisquam tempora ex.</p>
            </div>
            <div>
                <div class="wrapper">
                    <div class="icon twitter">
                      <div class="tooltip">Twitter</div>
                      <span><i class="fab fa-twitter"></i></span>
                    </div>
                    <div class="icon instagram">
                      <div class="tooltip">Instagram</div>
                      <span><i class="fab fa-instagram"></i></span>
                    </div>
                    <div class="icon github">
                      <div class="tooltip">Github</div>
                      <span><i class="fab fa-github"></i></span>
                    </div>
                  </div>
            </div>
            <div><button class="btn">Visit Portfolio</button></div>
        </div>
    </div>

    <div class="team-item">
        <div class="person-image"><img src="{% static 'landing/imgs/profile_3.jpg' %}" alt="Reload"></div>
       
        <div class="person-details">
            <div><h3>Aadit Chaddaa</h3></div>
            <div class="desig">Front-end Engineer</div>
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores ipsam ea neque a harum, dolore quae in eius aspernatur deserunt 
                    incidunt facilis illum quo accusantium. Magnam quisquam tempora ex.</p>
            </div>
            <div>
            <div>
                <div class="wrapper">
                    <div class="icon twitter">
                      <div class="tooltip">Twitter</div>
                      <span><i class="fab fa-twitter"></i></span>
                    </div>
                    <div class="icon instagram">
                      <div class="tooltip">Instagram</div>
                      <span><i class="fab fa-instagram"></i></span>
                    </div>
                    <div class="icon github">
                      <div class="tooltip">Github</div>
                      <span><i class="fab fa-github"></i></span>
                    </div>
                  </div>
            </div>
            </div>
            <div><button class="btn">Visit Portfolio</button></div>
        </div>
    </div>


    <div class="team-item">
        <div class="person-image"><img src="{% static 'landing/imgs/profile_4.JPG' %}" alt="Reload"></div>
       
        <div class="person-details">
            <div><h3>Lakshay Vason</h3></div>
            <div class="desig">Editor</div>
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores ipsam ea neque a harum, dolore quae in eius aspernatur deserunt 
                    incidunt facilis illum quo accusantium. Magnam quisquam tempora ex.</p>
            </div>
            <div>
            <div>
                <div class="wrapper">
                    <div class="icon twitter">
                      <div class="tooltip">Twitter</div>
                      <span><i class="fab fa-twitter"></i></span>
                    </div>
                    <div class="icon instagram">
                      <div class="tooltip">Instagram</div>
                      <span><i class="fab fa-instagram"></i></span>
                    </div>
                    <div class="icon github">
                      <div class="tooltip">Github</div>
                      <span><i class="fab fa-github"></i></span>
                    </div>
                  </div>
            </div>
            </div>
            <div><button class="btn">Visit Portfolio</button></div>
        </div>
    </div>


</div>

<div class="features-wrapper">

    <div class="team-h1"><h1>Why Use Insight?</h1></div>

    <div class="feature">
        <div class="feature-img"><img src="https://www.blog.motifphotos.com/wp-content/uploads/2020/02/video-1200x800.jpg" alt="Reload"></div>
        <div class="feature-desc">
            <h3>On Demand Videos</h3>
            <p>With Insight u get on demand Videos for strenghtening evey concept!</p>
        </div>
    </div>

    <div class="feature">
        <div class="feature-img"><img src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=815&q=80" alt="Reload"></div>
        <div class="feature-desc">
            <h3>Personalised Dashboard</h3>
            <p>A personalized dashboard solving every student problem of yours! Comes with: <br> Todo List
            <br> Note-taking app <br> Score tracker <br> Anayalytics
            </p>
        </div>
    </div>

    <div class="feature">
        <div class="feature-img"><img src="https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Reload"></div>
        <div class="feature-desc">
            <h3>Forums (Coming Soon)</h3>
            <p>have a doubt? Ask it in the forums and experts will help you!</p>
        </div>
    </div>

    <div class="feature">
      <div class="feature-img"><img src="https://images.unsplash.com/photo-1521364577880-a15e92cbff6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Reload"></div>
      <div class="feature-desc">
          <h3>Games</h3>
          <p>Tired from book learning? Learn with the help of games engineered for maximum retention by our fellow developers!</p>
      </div>
  </div>


</div>

{% endblock mainpage %}