{% extends "learning/snippets/base.html" %}
{% load bootstrap4 %}

{% load i18n %}

{% block title %}
  Edit Profile
{% endblock title %}

{% block bootstrap %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock bootstrap %}

{% block maincontent %}
<div class="main-container vh-giver">
  <div class="title-wrapper"><h1>Edit Profile</h1></div>
<div class="learning-box-wrapper">

  <form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="slide">Submit</button>
 </form>

</div>

</div>
{% endblock %}
