<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lessons</title>
    <link rel="icon" href="assets/fav.png">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/lessons2.css" rel="stylesheet" />
        <link href="/static/css/lessons.css" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_dT1E1P.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop  autoplay></lottie-player>
          <a class="navbar-brand" href="home.html">Insight.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ms-auto">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="lessons.html">Lessons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="about.html">About</a>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>
    </nav>
    <!-- NavBar End -->

    <!-- SVG -->
    <div data-aos="fade-right" data-aos-duration="750" >
        <img class="grad" src="/static/assets/grad.svg" alt="gradimg">
    </div>
    

    <!-- SVG End-->

     <!-- Section-->
     <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5"  data-aos="fade-in" data-aos-duration="850">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">






                <!-- CARD 1 -->

                <div class="col mb-5" >
                    <div class="card h-100">
                        <!--image-->
                        <img class="card-img-top" src="https://blog.bizvibe.com/wp-content/uploads/2020/04/wholesale-trade-industry-trends.jpg" alt="..." />
                        <!--details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!--name-->
                                <h6 class="fw-bolder">Wholesale Trade</h6>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" >
                            <div class="text-center">
                                <!-- Large modal -->
                                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target=".bd-example-modal-lg">View</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Wholesale Trade</h5>
                                  <button type="button" class="btn btn-outline-danger close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container px-4 px-lg-5">
                                        <!-- Heading Row-->
                                        <div class="row gx-4 gx-lg-5 align-items-center my-5">
                                            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://img.inddist.com/files/base/indm/multi/image/2021/09/16x9/Warehouse_44.613f5cc615b02.png?auto=format&fit=crop&h=394&w=700" alt="..." /></div>
                                            <div class="col-lg-5">
                                               
                                                <p style="font-size: .9rem">Wholesale trade consists of purchasing and selling goods, generally to retailers, professional (industrial or commercial) users or authorities, or to other wholesalers or intermediaries, regardless of the quantities sold.
                            
                                                    Wholesale trade intermediaries put buyers and vendors into contact without being owners of the goods.</p>
                                       
                                            </div>
                                        </div>
                                     
                                        <!-- Content Row-->
                                        <div class="row gx-4 gx-lg-5">
                                            <div class="col-md-4 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h2 class="card-title">Fractions</h2>
                                                        <p class="card-text">A fraction represents a part of a whole or, more generally, any number of equal parts.</p>
                                                    </div>
                                                    <div class="card-footer"><a class="btn btn-primary btn-sm" style="background-color: #a17fdd; border: 0px;" href="assets/">Play</a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h2 class="card-title">Decimals</h2>
                                                        <p class="card-text">Decimals are a set of numbers written together with a dot in between them that is called a decimal point.</p>
                                                    </div>
                                                    <div class="card-footer"><a class="btn btn-primary btn-sm" style="background-color: #a17fdd; border: 0px;" href="assets/videos/dec.mp4">Play</a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h2 class="card-title">Integers</h2>
                                                        <p class="card-text">The term “integer” was adapted in Mathematics from Latin. Integer means intact or whole.</p>
                                                    </div>
                                                    <div class="card-footer "><a class="btn btn-primary  btn-sm" href="assets/videos/1.mp4" style="background-color: #a17fdd; border: 0px;">Play</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                      </div>
                </div> 




                 <!-- CARD 2 -->

                <div class="col mb-5">
                    <div class="card h-100">
                        
                        <!-- Product image-->
                        <img class="card-img-top" src="https://www.livemint.com/rf/Image-621x414/LiveMint/Period1/2013/07/12/Photos/shopping_18--621x414.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h6 class="fw-bolder">Retail Trade</h6>
                              
                                
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <!-- Large modal -->
                                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target=".bd-example-modal-lg-1">View</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade bd-example-modal-lg-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Retail Trade</h5>
                                  <button type="button" class="btn btn-outline-danger close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container px-4 px-lg-5">
                                        <!-- Heading Row-->
                                        <div class="row gx-4 gx-lg-5 align-items-center my-5">
                                            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" style="width: 500px; height: 200px;" src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2018/03/03/657263-grocery-store.jpg" alt="..." /></div>
                                            <div class="col-lg-5">
                                               
                                                <p style="font-size: .95rem">Retail is the sale of goods and services to consumers, in contrast to wholesaling, which is sale to business or institutional customers. A retailer purchases goods in large quantities from manufacturers, directly or through a wholesaler, and then sells in smaller quantities to consumers for a profit.</p>
                                       
                                            </div>
                                        </div>
                                     
                                        <!-- Content Row-->
                                        <div class="row gx-4 gx-lg-5">
                                            <div class="col-md-6 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h2 class="card-title">Itinerant Trader</h2>
                                                        <p class="card-text">A fraction represents a part of a whole or, more generally, any number of equal parts.</p>
                                                    </div>
                                                    <div class="card-footer"><a class="btn btn-primary btn-sm" style="background-color: #a17fdd; border: 0px;" href="assets/">Play</a></div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h2 class="card-title">Small Scale Trader</h2>
                                                        <p class="card-text">The term “integer” was adapted in Mathematics from Latin. Integer means intact or whole.</p>
                                                    </div>
                                                    <div class="card-footer "><a class="btn btn-primary  btn-sm" href="assets/videos/1.mp4" style="background-color: #a17fdd; border: 0px;">Play</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                      </div>
                </div>


                 <!-- CARD 3 -->

                <div class="col mb-5">
                    <div class="card h-100">
                      
                        <!-- Product image-->
                        <img  height="180" class="card-img-top" src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-122620,resizemode-1,msid-75214721/industry/services/retail/future-group-negotiates-rents-for-its-1700-stores.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h6 class="fw-bolder">Fixed Store Trade</h6>
                              
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <!-- Large modal -->
                                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target=".bd-example-modal-lg-2">View</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade bd-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Fixed Store Trade</h5>
                                  <button type="button" class="btn btn-outline-danger close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container px-4 px-lg-5">
                                        <!-- Heading Row-->
                                        <div class="row gx-4 gx-lg-5 align-items-center my-5">
                                            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://cdn.cnn.com/cnnnext/dam/assets/210930094346-macys-billboard-lawsuit-restricted-super-tease.jpg" alt="..." /></div>
                                            <div class="col-lg-5">
                                               
                                                <p style="font-size: .95rem;">It is the second classification of retail Traders. The fixed shop's name itself explains that they do not move from one place to another. They can establish a medium or a large scale business in a fixed place. They run their transactions from there itself without any change. It also has several types in it.</p>
                                       
                                            </div>
                                        </div>
                                     
                                        <!-- Content Row-->
                                        <div class="row gx-4 gx-lg-5">
                                            <div class="col-md-6 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Chain Stores</h5>
                                                        <p class="card-text">A fraction represents a part of a whole or, more generally, any number of equal parts.</p>
                                                    </div>
                                                    <div class="card-footer"><a class="btn btn-primary btn-sm" style="background-color: #a17fdd; border: 0px;" href="assets/">Play</a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Departmental Stores</h5>
                                                        <p class="card-text">Decimals are a set of numbers written together with a dot in between them that is called a decimal point.</p>
                                                    </div>
                                                    <div class="card-footer"><a class="btn btn-primary btn-sm" style="background-color: #a17fdd; border: 0px;" href="assets/videos/dec.mp4">Play</a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Mail order house</h5>
                                                        <p class="card-text">The term “integer” was adapted in Mathematics from Latin. Integer means intact or whole.</p>
                                                    </div>
                                                    <div class="card-footer "><a class="btn btn-primary  btn-sm" href="assets/videos/1.mp4" style="background-color: #a17fdd; border: 0px;">Play</a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Consumer Co-operation stores</h5>
                                                        <p class="card-text">The term “integer” was adapted in Mathematics from Latin. Integer means intact or whole.</p>
                                                    </div>
                                                    <div class="card-footer "><a class="btn btn-primary  btn-sm" href="assets/videos/1.mp4" style="background-color: #a17fdd; border: 0px;">Play</a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Vending Machines</h5>
                                                        <p class="card-text">The term “integer” was adapted in Mathematics from Latin. Integer means intact or whole.</p>
                                                    </div>
                                                    <div class="card-footer "><a class="btn btn-primary  btn-sm" href="assets/videos/1.mp4" style="background-color: #a17fdd; border: 0px;">Play</a></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                      </div>
                </div>

                 <!-- CARD 4 -->

                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img height="182px" class="card-img-top" src="http://2.bp.blogspot.com/-R6xe2wJZTRQ/UOmZ1KEvBBI/AAAAAAAAASs/o1snmWP4W9U/s1600/ESSAY+ON+GST(Goods+and+Service+Tax+)+INDIA+1.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h6 class="fw-bolder">Goods & Services Taxes</h6>
                                
                                
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <!-- Large modal -->
                                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target=".bd-example-modal-lg-3">View</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade bd-example-modal-lg-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Goods & Services Taxes</h5>
                                  <button type="button" class="btn btn-outline-danger close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container px-4 px-lg-5">
                                        <!-- Heading Row-->
                                        <div class="row gx-4 gx-lg-5 align-items-center my-5">
                                            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://xattax.in/blog/wp-content/uploads/2019/05/gstn-simply.png" alt="..." /></div>
                                            <div class="col-lg-5">
                                               
                                                <p style="font-size: .95rem; ">GST is known as the Goods and Services Tax. It is an indirect tax which has replaced many indirect taxes in India such as the excise duty, VAT, services tax, etc. In other words,GST is levied on the supply of goods and services.GST is a single domestic indirect tax law for the entire country.</p>
                                       
                                            </div>
                                        </div>
                                     
                                        <!-- Content Row-->
                                        <div class="row gx-4 gx-lg-5">
                                            <div class="col-md-4 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h2 class="card-title">Fractions</h2>
                                                        <p class="card-text">A fraction represents a part of a whole or, more generally, any number of equal parts.</p>
                                                    </div>
                                                    <div class="card-footer"><a class="btn btn-primary btn-sm" style="background-color: #a17fdd; border: 0px;" href="assets/">Play</a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h2 class="card-title">Decimals</h2>
                                                        <p class="card-text">Decimals are a set of numbers written together with a dot in between them that is called a decimal point.</p>
                                                    </div>
                                                    <div class="card-footer"><a class="btn btn-primary btn-sm" style="background-color: #a17fdd; border: 0px;" href="assets/videos/dec.mp4">Play</a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-5">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h2 class="card-title">Integers</h2>
                                                        <p class="card-text">The term “integer” was adapted in Mathematics from Latin. Integer means intact or whole.</p>
                                                    </div>
                                                    <div class="card-footer "><a class="btn btn-primary  btn-sm" href="assets/videos/1.mp4" style="background-color: #a17fdd; border: 0px;">Play</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
               

 
              
    <!-- Bootstrap Js Script -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous">
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <!-- AOS script -->

      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
  
      <!-- // -->

</body>

</html>