<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/static/assets/fav.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css" />
</head>

<body class="login">
    <div class="login__container d-flex flex-md-row flex-column my-5 py-md-5">
        <div class="login__img col-md-5 text-center" >
            <img class="" src="/static/assets/login.svg" alt="login icon">
        </div>
        <div class="login__form m-auto col-md-6 mx-3">
            <h1 class="teal py-5 text-center">Login</h1>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="Password" placeholder="Password">
            </div>
            <div class="d-flex flex-column pt-3">
                <button  class="mx-auto btn purple__bg white">Sign In</button>
                <p class="align-middle m-auto py-3">Dont have an account? <a href="/signup.html" > Sign Up</a></p>
                <p class="align-middle m-auto py-3">Log In as <a href="index.html" >Guest</a></p>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>