<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="icon" href="static/assets/fav.png">
    <link rel="stylesheet" href="static/css/styles.css" />
        <title>Sign Up</title>
</head>
<body class="signup">
    
    <div class="signup__container d-flex flex-md-row flex-column my-5 py-md-5">
        <div class="login__img col-md-5 text-center" >
            <img src="static/assets/signup.svg" alt="login icon">
        </div>
        <div class="signup__form m-auto col-md-6 mx-3">
            <h1 class="yellow py-5 text-center">Signup</h1>
            <div class="mb-3">
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="Password" placeholder="Password">
            </div>
            <div class="d-flex flex-column pt-3">
                <button onclick= "location.href='home.html'" class="mx-auto btn purple__bg white">Create Account</button>
                <p class="align-middle m-auto py-3">Have an account? <a href="login.html"> Sign In</a></p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>