<div class="navbar">
    <div class="nav-title"> 
        <div class="navbar-brand">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_DMgKk1.json" mode="bounce" background="transparent"  speed=".8"  style="width: 110px; height: 110px;"  loop  autoplay></lottie-player>
        <div>
            <h3 class="navbar-text">Project Insight</h3>
        </div>
        </div>
      
       
        
   </div>
    <div class="nav-items">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">Explore</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'learning' %}">Learning</a></li>
            <li><a href="{% url 'dashboard' %}"><img src="{{ user.profile.profile_picture.url }}" class="profile-img" alt="Reload"></a></li>
            <li><a href="{% url 'account_logout' %}"><i class="bi bi-arrow-bar-right"></i></a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
        </ul>
       
    </div>
    <div class="hamburger-menu">             
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>  
    </div>
</div>