{% extends "forums/snippets/base.html" %}

{% block maincontent %}
<div class="left">
    <div class="question">
        <div class="ques-prof">
            <div class="ques-prof-img"><img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" alt=""></div>
            <div class="ques-prof-desc">
                <h3>Girik Manchanda</h3>
                <p>@girikk</p>
            </div>
        </div>
        <div class="question-h1"><h1>What is the best way to make a website without losing your cool and making it amazing just blabbering yes no!?</h1></div>
        <div class="action-bar">
            <i class="bi bi-arrow-up-circle"></i>
            <i class="bi bi-arrow-up-circle-fill"></i>
            <i class="bi bi-arrow-down-circle"></i>
            <i class="bi bi-arrow-down-circle-fill"></i>
        </div>
    </div>
    <h1 class="title-css">Answers:</h1>
    <div class="answer-wrapper">
        <div class="answers">
            <div class="ques-prof">
                <div class="ques-prof-img"><img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" alt=""></div>
                <div class="ques-prof-desc">
                    <h3>Girik Manchanda</h3>
                    <p>@girikk</p>
                </div>
            </div>
            <div class="answer-content">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, dolore ipsa numquam dolorem nesciunt suscipit exercitationem nam? Quisquam, officia? Rerum dignissimos natus porro est dolorem laborum placeat corporis dicta voluptatibus?</p>
            </div>
        </div>
        <div class="answers">
            <div class="ques-prof">
                <div class="ques-prof-img"><img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" alt=""></div>
                <div class="ques-prof-desc">
                    <h3>Girik Manchanda</h3>
                    <p>@girikk</p>
                </div>
            </div>
            <div class="answer-content">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, dolore ipsa numquam dolorem nesciunt suscipit exercitationem nam? Quisquam, officia? Rerum dignissimos natus porro est dolorem laborum placeat corporis dicta voluptatibus?</p>
            </div>
        </div>
        <div class="answers">
            <div class="ques-prof">
                <div class="ques-prof-img"><img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" alt=""></div>
                <div class="ques-prof-desc">
                    <h3>Girik Manchanda</h3>
                    <p>@girikk</p>
                </div>
            </div>
            <div class="answer-content">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, dolore ipsa numquam dolorem nesciunt suscipit exercitationem nam? Quisquam, officia? Rerum dignissimos natus porro est dolorem laborum placeat corporis dicta voluptatibus?</p>
            </div>
        </div>
    </div>
</div>

<div class="right">
    <div class="related-ques">
        <h1>Stats</h1>
        <ul>
            <li>Answers: 120</li>
            <li>interactions: 400</li>
            <li>Users visited: 500</li>
            <li>Upvotes: 150</li>
            <li>Downvotes: 15</li>
        </ul>
    </div>
    <div class="related-ques">
        <h1>Related Questions</h1>
        <div class="ques-related-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere voluptatum ducimus, quia sit qui corporis ex ratione repellendus magni illo. Aliquid quasi tempora eum molestiae odit non vel cum?</div>
        <div class="ques-related-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere voluptatum ducimus, quia sit qui corporis ex ratione repellendus magni illo. Aliquid quasi tempora eum molestiae odit non vel cum?</div>
        <div class="ques-related-item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia facere voluptatum ducimus, quia sit qui corporis ex ratione repellendus magni illo. Aliquid quasi tempora eum molestiae odit non vel cum?</div>
    </div>
</div>

{% endblock maincontent %}